<div ng-include src="'views/header.html'" class="reg-header-wrapper header-wrapper"></div>
<div class="reg-body-wrapper">
    <div class="simple-form-ui new-patient">
        <form name="myForm" class="form-horizontal well" single-submit="create()">
            <div class="box-container box-container-default">
                <section>
                    <legend class="registraion_legend first-registraion_legend">
                        <span class="mylegend"><strong>{{::'REGISTRATION_LABEL_CAG_ID' | translate}} : {{cag.uuid}}</strong></span>
                    </legend>
                    <!-- <section class="clearfix">
                        <div class="photo-container-wrapper" ng-if="!disablePhotoCapture">
                            <span class="pull-right photo-container">
                                <img class="patient-image" ng-src="{{patient.image}}" fallback-src="../images/blank-user.gif">
                                <div ng-model="patient.image" capture-photo="" class="capture-photo-btn"></div>
                            </span>
                        </div>
                    </section>
                    <section> -->
                    <article class="form-field existing-patient">
                        <div class="field-attribute">
                            <label class="control-label" for="CAGID">CAG Name
                            </label>
                        </div>
                        <div class="field-value">
                            <input type="text" id="registrationNumber" ng-model="cag.name">
                        </div>
                    </article>
                    <article class="form-field patient-name-wrapper" >
                        <div class="field-attribute">
                            <label for="patientName">CAG description</label>
                        </div>
                        <div class="field-value" id="patientNameLocal">
                            <textarea type="text" id="givenNameLocal" ng-model="cag.description" pattern-validate
                                placeholder="CAG description" />
                        </div>
                    </article>
                </section>
                

                <legend class="registraion_legend">
                    <span class="mylegend"> {{ ::'REGISTRATION_LABEL_ADDRESS_INFO' | translate}}</span>
                </legend>
                <section class="form-field-inline">
                    
                    <article class="form-field" >
                        <div class="field-attribute">
                            <label for="cityVillage">
                               Village
                            </label>
                        </div>
                        <div class="field-value" style="position: relative; display: inline-block;">
                            <input type="text"  ng-model="village"  ng-change="searchAddress('cityVillage', village)">
                            <ul ng-show="addressResults.length!==0" class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all " style="position: absolute; max-width: 400px; top: 100%; left: 0%; right: 0%; display: block;padding: 0%;border-width: 0px;z-index: 1; box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);">
                                <li ng-repeat="address in addressResults" style="padding: 1px; " class="ui-menu-item" role="presentation" ng-click="selectAddress(address)">
                                    <a class="ui-corner-all" tabindex="-1"></a>{{ address.name}}, {{address.parent.name}}
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="form-field" >
                        <div class="field-attribute">
                            <label for="cityVillage">
                               Constituency
                            </label>
                        </div>
                        <div class="field-value">
                            <input type="text"  ng-model="constituency">
                        </div>
                    </article>
                    <!-- <article class="form-field" >
                        <div class="field-attribute">
                            <label for="cityVillage">
                               District
                            </label>
                        </div>
                        <div class="field-value">
                            <input type="text"  ng-model="district"  ng-change="searchAddress('cityVillage', district)">
                            <ul ng-show="addressResults3.length!==0" class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all " style="position: relative; margin-top: 30px; top: 100%; left: 0%; right: 0%; display: block;padding: 0%;border-width: 0px;">
                                <li ng-repeat="address in addressResults3" style="padding: 1px;" class="ui-menu-item" role="presentation" ng-click="selectCountry(address)">
                                    <a class="ui-corner-all" tabindex="-1"></a>{{ address.name }}
                                </li>
                            </ul>
                        </div>
                    </article> -->
                </section>
                
                <legend class="registraion_legend">
                    <span class="mylegend"> CAG Members List<!--{{ ::'REGISTRATION_LABEL_ADDRESS_INFO' | translate}}--></span>
                    </legend>
                <section class="relationships-container form">
                    
                    <div class="box-container box-container-default history-relationship">
                        <div class="row" ng-repeat="patientx in cag.cagPatientList track by $index" ng-hide="cag.cagPatientList.length==0">
                            <div class="col col1">
                                <span>{{patientx.display}}</span>
                                <span ng-if="patientx.display"><a ng-click="openPatientDashboardInNewTab(patientx)"><i class="fa fa-external-link"></i></a></span>
                            </div>
                            <div class="col col2">
                                <span>Cag Member {{$index+1}}</span>
                            </div>
                            <div class="col col3">
                                <!-- <strong class="till-text">{{ ::'REGISTRATION_LABEL_TILL' | translate}}</strong>
                                <span>{{relationship.endDate | bahmniDate}}</span> -->
                            </div>
                            <div class="col col4">
                                <button type="button" class="small-btn row-remover" ng-confirm-click="removeFromCAG($index)" id="relationRemoveBtn">
                                    <span class="fa fa-remove"></span>
                                </button>
                            </div>
                        </div>
                        <div class="row" ng-show="cag.cagPatientList.length==0">
                                <span>No members added...</span>
                            
                        </div>
                    </div>
                    
                </section>
                <section class="form-field-inline">
                    <article class="form-field row">
                        <div class="field-attribute col2">
                            <label for="newField">
                                Add Patient to Cag List
                             </label>
                        </div>
                        <div class="field-value col4" style="position: relative; display: inline-block;">
                            <input type="text"  ng-model="newPatient" placeholder="search Patient" ng-change="searchPatient(newPatient)">
                            <ul ng-show="patientResults.length!==0" class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" style="position: relative; margin-top: 30px; max-width: 400px; top: 100%; left: 0%; right: 0%; display: block;padding: 0%;border-width: 0px;z-index: 1; box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);">
                                <li ng-repeat="patient in patientResults" style="padding: 1px; " class="ui-menu-item" role="presentation" ng-click="selectPatient(patient)">
                                    <a class="ui-corner-all" tabindex="-1">{{ patient.display}}</a>
                                </li>
                            </ul>
                            <i ng-click="addPatientToCag(patientTobeAdded,cag.cagPatientList.length)" class="fa fa-plus field-value" aria-hidden="true" style="color: green; font-size:28px;"></i>
                        </div>
                    </article>
                </section>
                <p><br></p>
                <p><br></p>
            </div>
            <!-- <div ng-include="'views/cagcommon.html'"></div> -->
        </form>
        <br>
    </div>
</div>
